@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');

:root {
    --cor-primaria: #000000;
    --cor-secundaria: #f6f6f6;
    --cor-terciaria: #22D4FD;
    --cor-hover: #272727;

    --font-primaria: 'Krona One', sans-serif;
    --font-secudaria: 'Montserrat',sans-serif;
}

* {
    margin: 0;
    padding: 0;
}
body {
   
     box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho{
    padding: 2% 0% 0% 15%;
}

.cabecalho__menu{
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link{
    font-family: var(--font-secudaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}


.apresentacao {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
    
}

.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    
}

.apresentacao__conteudo__titulo{
    font-size: 2.25rem;
    font-family: var(--font-primaria);

}

.destaque-titulo {
    color: var(--cor-terciaria);
}

.apresentacao__conteudo__texto{
    font-size: 1.5rem;
    font-family: var(--font-secudaria);

}

.apresentacao__links{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
}

.apresentacao__links__subtitulos{
    font-family: var(--font-primaria);
    font-weight:  400;
    font-size: 1.5rem;


}

.apresentacao__links__navegacao{
    /* background-color: #0c0c0c; */
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-terciaria);
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-weight: 600;
    font-size: 1.5rem;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--font-secudaria);
    
}

.apresentacao__links__navegacao:hover{
 
    background-color: var(--cor-hover) ;  

}

.rodape{
    color:var(--cor-primaria);
    background-color: var(--cor-terciaria);
    padding: 24px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
    font-family: var(--font-secudaria);
}

.apresentacao__conteudo__texto a{
    text-decoration: none;
    color: var(--cor-terciaria);
}

.apresetacao__imagem{
    width: 50%;
}

@media(max-width: 1000px){
    
    .apresentacao{
        flex-direction: column-reverse;
    }
    .cabecalho{
        padding: 5%;
    }
    
    .cabecalho__menu {
       flex-direction: column;
        align-items: center;

        
    }
    
    .apresentacao{
         padding: 10%;
    }

    .apresentacao__conteudo{
        width: auto;
    }

}